@font-face {
    font-family: 'Chivo';
    src: url('./Chivo/Chivo-Regular.ttf');
}

* {
    background-color: #101010;
    font-family: 'Chivo', system-ui;
    color: #ffffff;
}

img {
    background-color: transparent;
}

a:hover {
    color: #3dff77;
}